.calculator {
  margin-top: 2rem;
  /* display: grid;
  justify-content: center; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);

  width: 40rem;
  border-radius: 2rem;
  border: 1px solid #212529;
  background-color: #21252e;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.calculator-screen {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  padding: 1rem;
  word-wrap: break-word;
  word-break: break-all;

  width: 100%;
  grid-column: 1 / -1;
  height: 16rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  background-color: #21252e;

  color: #fff;
}

button {
  background-color: #343a40;
  color: #e9ecef;
  border-radius: 1.5rem;
  border: none;
  font-size: 2.2rem;
  transition: all 0.2s;
  height: 7rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button:hover {
  background-color: #495057;
}

.operator {
  color: #fff;
  background-color: #e18825;
  font-size: 3.3rem;

  transition: all 0.4s;
}

.operator:hover {
  background-color: #b06b1e;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
  background-color: #212529;
  border-radius: 2rem;
}

.equal-sign {
  height: 100%;
  grid-column: 4 /5;
  grid-row: 2 / 5;
  color: #e9ecef;
}

.all-clear,
.del {
  background-color: #495057;
}

.previous-operand {
  font-size: 3rem;
  color: #797d81;
}
.current-operand {
  font-size: 5rem;
}
